.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 958px;
  padding: 1px 0;
  margin: 0 auto;
  transform: scale(1.2);
}

@media (max-width: 991px){
  .container{
    width: 60%;
  }
}
.card {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0px;
  box-sizing: border-box; /* Garante que o padding seja incluído na largura */
}

@media (max-width: 991px) {
  .card {
      max-width: 100%;
      padding-right: 80px;
      padding-left: 0px; /* Adiciona padding lateral */
  }
}

.content {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 40%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .column {
      width: 100%;
  }
}

.sidebarContainer {
  border-radius: 16px 0 0 16px;
  background: linear-gradient(#67AE37, #4A8920);
  display: flex;
  flex-grow: 1;
  padding-bottom: 30%;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 65%;
  font: 800 20px Inter, sans-serif;
  box-sizing: border-box; /* Inclui o padding dentro da largura */
}

@media (max-width: 991px) {
  .sidebarContainer {
      margin-top: 20px;
      padding: 0px; /* Ajusta o padding para dispositivos menores */
      width: 100%;
      margin-left: 40px;
  }
}

.logo {
  aspect-ratio: 3.38;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 16px 0 0 0;
  z-index: 10;
  background-color: #fff;
}

@media (max-width: 991px) {
  .logo {
      width: 100%;

  }
}

.sidebarTitle {
  align-self: center;
  margin-top: 70%; /* Ajusta o espaçamento */
  margin-left: 0px;
  text-align: center;
  padding: 0;
  font-size: 24px; /* Tamanho da fonte */

}

.sidebarTitle {
  margin-top: 20px; /* Ajuste o espaçamento acima do título */
  font-size: 24px;
  text-align: center; /* Centraliza o título horizontalmente */
  position: relative; /* Permite usar propriedades como 'top', 'left' */
  top: 30%; /* Ajusta a posição vertical do título */
}

@media (max-width: 991px) {
  .sidebarTitle {
      margin-top: 40px;
      top: 0;

  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens do menu */
  text-align: center;
  margin: 0 auto;
  font: 800 15px Inter, sans-serif;
  margin-bottom: 5;
}

@media (max-width: 991px){
  .menuContainer{
    padding-bottom: 20px;
    padding-left: 25px;
  }
}
.menuItem {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5% 40px; /* Aumenta o padding interno dos botões */
  border: 1px solid #4f9122;
  margin-top: 10%;
  transition: all 0.3s ease;
  width: 100%; /* Garante que os botões não ocupem toda a largura */
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 5;
}

.menuItem:first-child {
  margin-top: 5;
}

@media (max-width: 991px) {
  .menuItem {
      width: 90%; /* Ajusta a largura para dispositivos menores */
      padding: 10px 20px;
      margin-left: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 600px) {
  .container {
      transform: scale(1);
      padding: 0;
  }

  .sidebarContainer {
      padding-bottom: 50px;
  }

  .logo {
      width: 100%;
      max-width: 200px;
  }

  .menuItem {
      width: 100%; /* Botões ocupam toda a largura em telas muito pequenas */
      padding: 10px 15px;
      font-size: 14px;
  }
}


.sidebarContainer {
  position: relative;
}

.helpButton {
  font-size: 1.2rem; /* Ajuste de tamanho da fonte */
  background-color: #f5f5f5; /* Cor de fundo */
  color: #333;
  border: 1px solid #ddd;
  border-radius: 50%; /* Mantendo o botão arredondado */
  cursor: pointer;
  position: absolute; /* Posição relativa à sidebar */
  bottom: 20px; /* Sobe o botão um pouco */
  left: 20px; /* Move o botão alguns cm para a direita */
  padding: 7px; /* Reduzindo o espaço ao redor do '?' */
  z-index: 1; /* Mantém o botão acima de outros elementos na sidebar */
  transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

.helpButton:hover {
  background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  color: black; /* Cor do texto em preto */
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-height: 80vh;
  overflow-y: auto; /* Barra de rolagem vertical */
  border: 1px solid #ccc; /* Borda para visualização */
}

.modalContent h2 {
  font-size: 1.5rem; /* Tamanho do título principal */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.modalContent h3 {
  font-size: 1.2rem; /* Tamanho dos subtítulos */
  margin-top: 15px; /* Espaçamento acima dos subtítulos */
}

.modalContent p {
  font-size: 0.8rem; /* Tamanho do texto normal */
  margin: 0.5rem 0; /* Margem para espaçamento entre parágrafos */
  font-weight: normal; /* Texto normal não em negrito */
}


.modalContent ol {
  padding-left: 20px; /* Indentação para a lista */
}

.modalContent li {
  margin-bottom: 10px; /* Espaçamento entre itens da lista */
}

.modalContent li b {
  font-weight: bold; /* Apenas o título do tópico em negrito */
}

.closeButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #45a049;
}

/* Estilo do botão de Sair */
.logoutButton {
  position: fixed;
  top: 310px;
  left: 5px;
  background-color: #4f9122; /* Verde escuro */
  color: #fff; /* Branco */
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 10px 20px; /* Diminui o padding para reduzir o tamanho do botão */
  font: 700 12px Inter, sans-serif; /* Diminui o tamanho da fonte */
  line-height: 1.2; /* Ajusta o espaçamento da linha */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Ajusta a largura automaticamente */
  height: auto; /* Ajusta a altura automaticamente */
}

/* Ajuste para o hover */
.logoutButton:hover {
  background-color: #4f9122;
  border-color: white;
  opacity: 0.9; /* Um pequeno efeito visual para o hover */
}

/* Estilo para o overlay/modal de confirmação */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilo do conteúdo do modal */
.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Botões de confirmação e cancelamento */
.confirmButton, .cancelButton {
  background-color: #4f9122; /* Verde escuro */
  color: white; /* Branco */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  margin-left: 10px;
}

.confirmButton:hover, .cancelButton:hover {
  background-color: #4f9122;
  opacity: 0.9; /* Um pequeno efeito visual para o hover */
}

.cancelButton {
  background-color: #e74c3c; /* Vermelho */
}

/* Estilo para os textos do modal */
.modalContent h2 {
  color: black; /* Muda a cor do texto para preto */
}

h2, h3, p {
  font-family: 'Arial', sans-serif;
}
